---
---

@import "{{ site.theme }}";

#banner {
  visibility: hidden;
}

body {
  background: white;
}

header {
  background: white;
  box-shadow: none;
  h1 {
    color: black;
    font-family: monospace;
  }
}
